.App {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: gray;
  background: linear-gradient(135deg,
      rgba(170, 220, 252, 1) 0%,
      rgba(170, 220, 252, 1) 50%,
      rgba(240, 100, 140, 1) 50%,
      rgba(240, 100, 140, 1) 100%)
}